.contact-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    .form-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        width: 100%;
        @media screen and (max-width: 36em){
            display: flex;
            flex-direction: column;
        }
    }
    .form-group{
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
            font-size: 20px;
        }
        input,textarea{
            width: 100%;
            background-color: var(--input-color);
            border: none;
            border-radius: 5px;
            color: var(--text-color);
            padding: 10px;
            box-shadow: 0 -1px 0 #FC8166 inset;
            transition: box-shadow .3s ease;
            &:hover{
                box-shadow: 0 -3px 0 #FC8166 inset;
            }
            &:focus{
                outline: none;
                box-shadow: 0 -5px 0 #FC8166 inset;
            }
        }
        textarea{
            resize:vertical;
            min-height: 200px;
        }
    }
    button{
        max-width: fit-content;
        margin-left: auto;
        @media screen and (max-width: 36em){
            max-width: none;
            margin-left: 0;
        }
    }
}

.contact-validation-modal{
    $width: 300px;
    position: fixed;
    top: 200px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 15px;
    width: $width;
    border-radius: 10px;
    background-color: var(--input-color);
    transition: left .5s ease;
    &.hide{
        left: -$width;
    }
    p{
        font-size: 25px;
    }
    @media screen and (max-width: 36rem) {
        left: calc((100vw - $width) / 2 );
    }
}