@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-display: swap;
  font-family: 'Greycliff';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Greycliff';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-medium.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Greycliff';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-demibold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Greycliff';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Greycliff';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-extrabold.otf') format('opentype');
}
