footer {
  padding: 60px 0 40px;
  text-align: center;
  border-top: 1px solid var(--separator-color);

  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-social {
    display: flex;
    gap: 20px;
    list-style: none;

    a {
      display: block;
      transition: 0.3s transform;

      &:hover {
        transform: translateY(-3px);
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .footer-text {
    font-size: 14px;
    opacity: 0.6;
  }
}
