.timeline-wrapper{
    position: relative;
    display: flex;
    margin-bottom: 250px;
    svg{
        height: auto;
        @media screen and (max-width: 450px) {
            width: 65px;
        }
    }
}

.timeline{
    margin-top: 100px;
    .title-wrapper{
        margin-bottom: 50px;
    }
}

.timeline-list{
    position: relative;
    width: 100%;
    // background-color: aqua;
    li{
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 750px) {
            max-width: fit-content;
            .timeline-title{
                font-size: 20px;
            }
            .timeline-paragraphe{
                font-size: 15px;
                display: none;
            }
        }
        .timeline-subtitle{
            font-weight: 600;
        }
    }
}

#begin,#study,#first-work,#freelance{
    position: absolute;
    bottom: 0;
}

#begin{
    top: 2%;
    left: 100px;
    @media screen and (max-width: 750px) {
        left: 30px;
    }
    @media screen and (max-width: 450px) {
        top: 0;
    }
}

#study{
    top: 32%;
    left: 100px;
    @media screen and (max-width: 750px) {
        left: 30px;
    }
    @media screen and (max-width: 450px) {
        top: 30%;
    }
}

#first-work{
    top: 62%;
    left: 100px;
    @media screen and (max-width: 750px) {
        left: 30px;
    }
    @media screen and (max-width: 450px) {
        top: 61%;
    }
}


#freelance{
    top: 92%;
    left: 100px;
    @media screen and (max-width: 750px) {
        left: 30px;
    }
    @media screen and (max-width: 450px) {
        top: 91%;
    }
}