@import 'variables';
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'base';
@import 'animations';
@import 'header';
@import 'hero';
@import 'about';
@import 'techStack';
@import 'experiences';
@import 'projects';
@import 'contact';
@import 'footer';
