/* Set root font-size @10px equivalent */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  font-size: 0.625em; /* fallback IE8+ */
  font-size: 0.625em; /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #000;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make medias easier to work with */
img,
video,
audio {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* Phone links active only under 36em (576px) */
a[href^=tel] {
  white-space: nowrap;
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 36em) {
  a[href^=tel] {
    pointer-events: auto;
    text-decoration: underline;
  }
}
/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }
  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
header {
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 20px 0;
}
header .App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .site-title {
  text-transform: capitalize;
  font-size: 25px;
}
@media screen and (max-width: 750px) {
  header .site-title {
    font-size: 20px;
  }
}
header .burger-button {
  display: none;
  background: none;
  border: none;
  padding: 0;
}
header .burger-button div {
  width: 50px;
}
@media screen and (max-width: 750px) {
  header .burger-button {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  header nav {
    position: absolute;
    right: -120px;
    top: 100px;
    padding: 20px;
    background-color: var(--body-color);
  }
}
header nav ul {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 750px) {
  header nav ul {
    flex-direction: column;
    row-gap: 20px;
  }
}
header nav ul li {
  display: flex;
  align-items: center;
}
header nav a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
}
header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: 0.3s width ease-in-out;
}
header nav a:hover::after {
  left: inherit;
  right: 0;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 350px;
}
.hero .hero-avatar {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 950px) {
  .hero .hero-avatar {
    display: none;
  }
}
.hero .title-wrapper {
  margin-bottom: 50px;
}
.hero .title-wrapper h1 {
  font-size: 55px;
  height: 72px;
  display: block;
  transform: translateY(100px);
}
@media screen and (max-width: 750px) {
  .hero .title-wrapper h1 {
    font-size: 35px;
    height: 45px;
  }
}
.hero .title-wrapper #hero-separator {
  background-color: var(--text-color);
  height: 2px;
  width: 0;
  position: relative;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 100%;
  border: none;
}
.hero .title-wrapper .sub-title {
  display: block;
  font-size: 25px;
  font-weight: 600;
  transform: translateY(-100px);
}
@media screen and (max-width: 750px) {
  .hero .title-wrapper .sub-title {
    font-size: 20px;
  }
}
.hero .hero-buttons {
  column-gap: 20px;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  list-style: none;
}
.social-list img {
  width: 40px;
  transform: scale(1);
  transition: 0.3s transform;
}
.social-list a:hover {
  cursor: pointer;
}
.social-list a:hover img {
  transform: scale(1.2);
}

.timeline-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 250px;
}
.timeline-wrapper svg {
  height: auto;
}
@media screen and (max-width: 450px) {
  .timeline-wrapper svg {
    width: 65px;
  }
}

.timeline {
  margin-top: 100px;
}
.timeline .title-wrapper {
  margin-bottom: 50px;
}

.timeline-list {
  position: relative;
  width: 100%;
}
.timeline-list li {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 750px) {
  .timeline-list li {
    max-width: fit-content;
  }
  .timeline-list li .timeline-title {
    font-size: 20px;
  }
  .timeline-list li .timeline-paragraphe {
    font-size: 15px;
    display: none;
  }
}
.timeline-list li .timeline-subtitle {
  font-weight: 600;
}

#begin, #study, #first-work, #freelance {
  position: absolute;
  bottom: 0;
}

#begin {
  top: 2%;
  left: 100px;
}
@media screen and (max-width: 750px) {
  #begin {
    left: 30px;
  }
}
@media screen and (max-width: 450px) {
  #begin {
    top: 0;
  }
}

#study {
  top: 32%;
  left: 100px;
}
@media screen and (max-width: 750px) {
  #study {
    left: 30px;
  }
}
@media screen and (max-width: 450px) {
  #study {
    top: 30%;
  }
}

#first-work {
  top: 62%;
  left: 100px;
}
@media screen and (max-width: 750px) {
  #first-work {
    left: 30px;
  }
}
@media screen and (max-width: 450px) {
  #first-work {
    top: 61%;
  }
}

#freelance {
  top: 92%;
  left: 100px;
}
@media screen and (max-width: 750px) {
  #freelance {
    left: 30px;
  }
}
@media screen and (max-width: 450px) {
  #freelance {
    top: 91%;
  }
}

.project-card {
  transform: translateY(0px);
  transition: transform 0.3s;
}
.project-card:hover {
  transform: translateY(10px);
}
.project-card .project-illustration {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.project-card .project-illustration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card .project-name {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

#projects {
  padding-bottom: 200px;
}
#projects .title-wrapper {
  margin-bottom: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}
.contact-form .form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 36em) {
  .contact-form .form-row {
    display: flex;
    flex-direction: column;
  }
}
.contact-form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form .form-group label {
  font-size: 20px;
}
.contact-form .form-group input, .contact-form .form-group textarea {
  width: 100%;
  background-color: var(--input-color);
  border: none;
  color: var(--text-color);
  padding: 10px;
  box-shadow: 0 -1px 0 #FC8166 inset;
  transition: box-shadow 0.3s ease;
}
.contact-form .form-group input:hover, .contact-form .form-group textarea:hover {
  box-shadow: 0 -3px 0 #FC8166 inset;
}
.contact-form .form-group input:focus, .contact-form .form-group textarea:focus {
  outline: none;
  box-shadow: 0 -5px 0 #FC8166 inset;
}
.contact-form .form-group textarea {
  resize: vertical;
  min-height: 200px;
}
.contact-form button {
  max-width: fit-content;
  margin-left: auto;
}
@media screen and (max-width: 36em) {
  .contact-form button {
    max-width: none;
    margin-left: 0;
  }
}

.contact-validation-modal {
  position: fixed;
  top: 200px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--input-color);
  transition: left 0.5s ease;
}
.contact-validation-modal.hide {
  left: -300px;
}
.contact-validation-modal p {
  font-size: 25px;
}
@media screen and (max-width: 36rem) {
  .contact-validation-modal {
    left: calc((100vw - 300px) / 2);
  }
}

.dark {
  --body-color: #202023;
  --text-color: #DDDDDD;
  --input-color: #3F3F44;
}

.light {
  --body-color: #F9F9F9;
  --text-color: #202023;
  --input-color: #DDDDDD;
}

body * {
  transition: 0.1s color, 0.3s background-color;
}

.App {
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
}

.text-box {
  position: relative;
  overflow: hidden;
}

.separator {
  background-color: var(--text-color);
  height: 2px;
  width: 115%;
  position: relative;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 100%;
  border: none;
}

.title-with-decoration {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  display: inline;
}
@media screen and (max-width: 750px) {
  .title-with-decoration {
    font-size: 25px;
  }
}

.title-wrapper {
  width: fit-content;
}

.button-1 {
  background-color: #FC8166;
  color: var(--text-color);
  padding: 5px 40px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: 0.3s background-color;
}
.button-1:hover {
  background-color: #dd7159;
}
@media screen and (max-width: 750px) {
  .button-1 {
    font-size: 18px;
  }
}

.toogle-theme {
  background-color: hsla(0deg, 0%, 0%, 0.68);
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toogle-theme div {
  width: 35px;
  height: 35px;
}
.toogle-theme.dark {
  background-color: hsla(0deg, 0%, 0%, 0.68);
}
.toogle-theme.dark {
  background-color: hsla(0deg, 0%, 0%, 0.68);
}

svg circle.animated,
svg path.animated {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 1s ease;
}

svg path.timeline-logo {
  opacity: 0;
  transition: 0.5s opacity;
}

/*# sourceMappingURL=style.css.map */
